name: 'Run E2E Tests'

on:
  workflow_dispatch:

jobs:
  test:
    name: 'Test GitHub Action'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: 'Self Test'
        uses: ./
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
